    // bg colors
    $bg_color1: #3B525B;
    $bg_color2: #ECEEEF;
    $bg_color3: #EA8A7F;
    // ------------all img hover------------
    .img_hover {
        transition: 100ms ease-in-out;
        &:hover {
            transform: scale(0.98);
            cursor: pointer;
        }
    }
    
    // -----------------------
    * {
        box-sizing: border-box;
        user-select: none;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
    }
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
    }
    
    a {
        text-decoration: none;
    }
    
    header {
        background-color: white;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        height: 70px;
        transition: 200ms;
        .row {
            display: flex;
            justify-content: space-between;
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 100ms ease-in-out;
                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }
    
    .top_panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 29px;
    }
    
    // top--nav_bar--dws-menu--
    .dws-menu * {
        margin: 0;
        padding: 0;
        color: black;
    }
    
    .dws-menu ul {
        list-style: none;
    }
    
    .dws-menu {
        ul {
            display: flex;
            justify-content: center;
            li {
                position: relative;
                a {
                    display: block;
                    padding: 26px 17.5px;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: all 0.3s ease;
                }
            }
        }
        li ul {
            position: absolute;
            min-width: 150px;
            display: none;
        }
        li a:hover {
            background-color: $bg_color1;
            box-shadow: 0px 5px 10px -5px black;
            transition: all 0.3s ease;
            color: white;
        }
        li a:active {
            -webkit-text-stroke-width: thin;
        }
    }
    
    //top sub menu
    .dws-menu li {
        ul li ul {
            position: absolute;
            right: -150px;
            top: 0;
            background-color: #ECEEEF;
            width: fit-content;
        }
        &:hover>ul {
            display: block;
            background-color: $bg_color2;
        }
    }
    
    //top UserBlock
    .UserBlock {
        display: flex;
        align-items: center;
        >.row_2 {
            padding-left: 2.5px;
            margin-left: 35px;
            cursor: pointer;
            transition: 50ms;
            &:hover {
                transform: scale(0.9);
            }
        }
    }
    
    // ----main----
    .parent {
        margin: 0 32px;
    }
    
    // flex container 1
    .flex_cont_1 {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    
    .text_redact_panel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        >div {
            max-width: 365px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            >h4 {
                font-size: 36px;
                margin: 0;
            }
            >p {
                font-size: 18px;
                margin-top: 25px;
            }
            >.button_top {
                font-size: 18px;
                text-align: center;
                background: $bg_color1;
                color: white;
                border-radius: 5px;
                margin-top: 74px;
                padding: 19px 115px;
                transition: 100ms ease-in-out;
                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }
    
    .img_top {
        width: 100%;
        img {
            width: 793px;
            height: 568px;
            padding-right: 32px;
        }
    }
    
    .img_top_redact {
        width: 793px;
        height: 568px;
    }
    
    //   ---- title ----
    .text_title_top {
        text-align: center;
        margin-top: 130px;
        margin-bottom: 108px;
        font-weight: 500;
        font-size: 36px;
    }
    
    .text_title {
        width: 100%;
        margin: 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 36px;
        >h4 {
            margin: 0;
        }
    }
    
    // ----- flex container 2 -----
    .flex_cont_2 {
        display: flex;
        justify-content: center;
    }
    
    .flex_cont_2_clumn {
        display: flex;
        flex-direction: column;
        font-size: 36px;
    }
    
    .flex_cont_2_clumn_container {
        overflow: hidden;
        position: relative;
        margin: 12px;
        div {
            width: 100%;
            height: 58px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 3px;
            background: rgba(255, 255, 255, 0.7);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }
        p {
            margin: 0;
        }
    }
    
    // ----- flex container 3 -----
    .flex_cont_3 {
        width: 100%;
        background-color: $bg_color1;
    }
    
    .flex_cont_3_clumn {
        color: white;
        display: flex;
        width: 100%;
        padding: 130px 0;
        background-color: #3B525B;
        justify-content: center;
        align-items: center;
        image-rendering: optimizeQuality;
        image-rendering: -webkit-optimize-contrast;
        flex-wrap: wrap;
        >div {
            width: 210px;
            height: 233px;
            margin-right: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            >img {
                margin-bottom: 30px;
            }
            >h4 {
                margin: 0;
            }
        }
        >div:nth-child(1) {
            width: 273px;
            font-weight: 500;
            font-size: 72px;
            line-height: 88px;
            margin-left: 9%;
        }
    }
    
    .text_redact_blocks {
        >p {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 17px;
        }
        >span {
            font-size: 16px;
            line-height: 27px;
        }
    }
    
    // ----- flex container 4 -----
    .flex_cont_4 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: hidden;
    }
    
    .flex_cont_4_cards_img>img {
        width: 100%;
    }
    
    .flex_cont_4_inner {
        position: relative;
        bottom: 4px;
        width: 20%;
        min-width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
            width: 100%;
        }
    }
    
    .flex_cont_4_cards_text {
        position: relative;
        bottom: 4px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: 100px;
        background-color: $bg_color2;
        >span {
            font-weight: 500;
            font-size: 18px;
            padding-left: 20px;
        }
        >span:nth-child(2) {
            font-weight: 500;
            font-size: 24px;
        }
    }
    
    .text_title_and_button {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 100ms ease-in-out;
        >a {
            color: black;
            border: 2px solid $bg_color3;
            border-radius: 5px;
            padding: 19px 62.5px;
            font-size: 18px;
            cursor: pointer;
            transition: 100ms ease-in-out;
            &:hover {
                background-color: $bg_color3;
                color: white;
            }
        }
    }
    
    .parent_slider_block_1 {
        overflow-x: scroll;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .slider_block_1 {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .slider_inner_block {
        margin-left: 31px;
        position: relative;
        .slider_inner_bottom_block {
            background: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: absolute;
            bottom: 0px;
            height: 14.5%;
            font-size: 36px;
        }
        img {
            width: 100%;
        }
        p {
            margin: 0px;
        }
    }
    
    // ----------slider-----------------------
    .slider {
        position: relative;
        overflow: hidden;
        background-color: $bg_color1;
    }
    
    .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
    }
    
    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        padding: 61px 0;
    }
    
    .slider_parent_inner {
        background-color: white;
        width: 100%;
        max-width: 583px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 12px;
    }
    
    .slider_img_redact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28%;
        padding-top: 20px;
        img {
            outline: 3px solid $bg_color3;
            border-radius: 100%;
        }
        span {
            margin-top: 22px;
            font-weight: 700;
            font-size: 14px;
            color: #EA8A7F;
            width: 93px;
        }
    }
    
    .slider-title {
        width: 100%;
        font-weight: 500;
        font-size: 36px;
        text-align: center;
        margin: 0;
        padding: 80px 0 40px;
        background-color: #3B525B;
        color: white;
        h4 {
            margin: 0;
        }
    }
    
    .slider_text_redact {
        width: 47%;
        font-size: 18px;
        position: relative;
        margin: 0px 70px;
        p {
            margin: 62px 0px;
            span {
                color: $bg_color3;
            }
        }
        &::after {
            content: '';
            background-image: url("../images/svg/Vector-top-left.svg");
            background-repeat: no-repeat;
            width: 31px;
            height: 29px;
            position: absolute;
            top: 45px;
            left: -35px;
        }
        &::before {
            content: '';
            background-image: url("../images/svg/Vector-top-left.svg");
            background-repeat: no-repeat;
            width: 31px;
            height: 29px;
            position: absolute;
            bottom: 35px;
            right: -35px;
            transform: rotate(180deg);
        }
    }
    /*-------slider buttons-------- */
    
    .slider__control {
        position: absolute;
        top: 64%;
        align-items: center;
        justify-content: center;
        width: 40px;
        text-align: center;
        opacity: 0.5;
        height: 50px;
        transform: translateY(-50%);
    }
    
    .slider__control_show {
        display: flex;
    }
    
    .slider__control_left {
        left: 0;
        z-index: 10;
    }
    
    .slider__control_right {
        right: 0;
        z-index: 10;
        margin-top: -9px;
    }
    
    .slider__control::before {
        content: '';
        display: inline-block;
        width: 34px;
        height: 34px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .slider__control_left::before {
        background-image: url("../images/svg/left_rigth_button.svg");
        transform: rotate(180deg);
    }
    
    .slider__control_right::before {
        background-image: url("../images/svg/left_rigth_button.svg");
    }
    
    // ---------------------------------------
    // ----- flex container 5 -----
    .flex_cont_5 {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .flex_cont_5_inner {
        position: relative;
        width: 20%;
        min-width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin: 10px;
    }
    
    // ---- flex cont 5 cards img ----
    .flex_cont_5_cards_img {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            right: 10px;
            top: 10px;
            width: 50px;
            height: 50px;
            background-image: url("../images/svg/salle.svg");
            background-repeat: no-repeat;
        }
        img {
            width: 100%;
        }
    }
    
    .flex_cont_5_cards_text_redact {
        position: relative;
        bottom: 4px;
        padding: 0 20px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $bg_color2;
        .cont_5_red_text_1 {
            font-size: 18px;
            h4 {
                margin: 0;
                font-weight: 600;
            }
        }
    }
    
    .cont_5_red_text_2 {
        display: flex;
        justify-content: space-between;
        >span {
            font-weight: 600;
            font-size: 24px;
            color: $bg_color3;
        }
    }
    
    .delete_money {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 110px;
            border-bottom: 1px solid black;
            transform: rotate(195deg);
            bottom: 13px;
            left: 0;
        }
        &::after {
            content: "";
            position: absolute;
            width: 110px;
            border-bottom: 1px solid black;
            transform: rotate(165deg);
            bottom: 13px;
            left: 0;
        }
    }
    
    // ---- footer container ----
    footer {
        position: relative;
        width: 100%;
        background-color: $bg_color1;
        padding: 80px 0;
        * {
            color: white;
        }
    }
    
    .footer_container {
        width: 79.3%;
        font-weight: 300;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .footer_container_1_inner {
        display: flex;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
        div {
            width: 150px;
        }
    }
    
    .footer_container_ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 20px;
            &:hover {
                -webkit-text-stroke-width: thin;
                text-decoration: underline;
            }
            a img {
                transition: 100ms ease-in-out;
            }
            a img:hover {
                transform: scale(0.9);
            }
        }
        .li_control {
            height: 33px;
            display: flex;
            align-items: center;
        }
    }
    
    // footer container 2 inner
    .footer_container_2_inner {
        width: 326px;
        display: flex;
        flex-direction: column;
        color: white;
        div {
            margin-bottom: 15px;
        }
    }
    
    .form_inputs {
        display: flex;
        flex-direction: column;
        .input_redact {
            margin-bottom: 15px;
            padding: 20px;
            background: #3B525B;
            border: 1px solid #ECEEEF;
            border-radius: 5px;
            outline: none;
            font-weight: 300;
            font-size: 14px;
            font-family: 'Montserrat';
            &::-moz-placeholder {
                color: white;
            }
            &::-webkit-input-placeholder {
                color: white;
            }
            &:active {
                outline: 0.5px solid white;
            }
        }
        .inp_button {
            margin-bottom: 15px;
            padding: 20px;
            background-color: $bg_color3;
            font-size: 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            transition: 50ms ease-in-out;
            cursor: pointer;
            &:hover {
                transform: scale(0.9);
            }
            &:active {
                outline: 1px solid white;
            }
        }
    }
    
    .footer_bottom_right_text {
        display: flex;
        position: absolute;
        bottom: 30px;
        right: 30px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Manjari';
        img {
            width: 15px;
            height: 15px;
        }
        span {
            margin: 1.5px 0 0 11px;
        }
    }
    
    //---------------- mibile panel -------------------
    // -----mibile btn-----
    .btn_open_top {
        display: none;
        transition: 30ms;
        img {
            width: 25px;
            border-radius: 5px;
            cursor: pointer;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    
    // ----open panel----
    .mobile_panel {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
        transition: 600ms ease-in-out;
        margin-top: -500px;
    }
    
    .mobile_ul {
        color: white;
        list-style-type: none;
        width: 60%;
        margin: 0;
        padding: 0;
        user-select: none;
    }
    
    .mobile_ul>li {
        cursor: pointer;
        padding: 10px 0;
        margin-bottom: 16px;
        display: block;
        text-align: center;
        background: $bg_color1;
        border-radius: 5px;
        transition: 150ms ease-in-out;
        a {
            color: white;
        }
        &:hover {
            transform: scale(0.9);
        }
    }
    
    .top_open_panel {
        display: flex;
        height: 60px;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        transition: 150ms ease-in-out;
        a :hover {
            transform: scale(0.9);
        }
    }
    
    //---------loader box ----------
    .box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bg_color2;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    
    //--------- loader ----------
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $bg_color3 transparent transparent transparent;
    }
    
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    // ---------------------@media----------------------
    @media only screen and (max-width: 1280px) {
        h4 {
            font-size: 25px !important;
        }
        p {
            font-size: 19px !important;
        }
        span {
            font-size: 18px !important;
        }
        a {
            font-size: 18px !important;
        }
        .slider__control {
            top: 57.5%;
        }
        .img_top>img {
            width: 100%;
            height: auto;
            padding: 0;
        }
        .text_redact_panel>div {
            max-width: none;
            align-items: center;
        }
        .text_redact_panel>div>.button_top {
            margin: 0;
            padding: 15px 90px
        }
        .text_title_top {
            margin: 0;
        }
        .flex_cont_2_clumn>div>img {
            width: 100%;
            height: 98%;
        }
        .flex_cont_3_clumn {
            justify-content: center;
            padding: 0px
        }
        .flex_cont_3_clumn>div {
            margin: 16px;
        }
        .flex_cont_3_clumn>div:nth-child(1) {
            width: 100%;
            margin-top: 35px;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 50px;
            display: flex;
            justify-content: center;
        }
        .delete_money {
            &::before,
            &::after {
                width: 80px;
                bottom: 11px;
            }
        }
    }
    
    @media only screen and (max-width: 1260px) {
        .slider__item {
            flex-direction: column;
            align-items: center;
        }
        .slider_parent_inner {
            margin-bottom: 15px;
        }
        .flex_cont_3_clumn>div:nth-child(1) {
            margin-left: 0;
        }
    }
    
    @media only screen and (max-width: 1025px) {
        h4 {
            font-size: 20px !important;
        }
        p {
            font-size: 17px !important;
        }
        span {
            font-size: 17px !important;
        }
        a {
            font-size: 17px !important;
        }
        .btn_open_top {
            display: flex;
        }
        .flex_cont_1 {
            flex-direction: column-reverse
        }
        .img_top {
            width: 95.3%;
            margin: auto;
        }
        .text_redact_panel {
            font-size: 30px;
        }
        .flex_cont_2_clumn {
            font-size: 30px;
            margin-bottom: 20px;
        }
        .flex_cont_3_clumn>div {
            height: auto;
            margin: 20px;
        }
        .flex_cont_3_clumn {
            align-items: baseline;
            padding: 0;
        }
        .flex_cont_4_inner {
            margin: 0 10px;
            margin-bottom: 20px;
        }
        .footer_container {
            font-size: 12px;
        }
        .footer_container_2_inner {
            width: 220px;
        }
        .nav_bar {
            display: none;
        }
        .UserBlock {
            display: none;
        }
        .delete_money {
            &::before,
            &::after {
                width: 75px;
                bottom: 9px;
            }
        }
    }
    
    @media only screen and (max-width: 800px) {
        h4 {
            font-size: 18px !important;
        }
        p {
            font-size: 15px !important;
        }
        span {
            font-size: 15px !important;
        }
        a {
            font-size: 15px !important;
        }
        .slider__control {
            top: 58.5%;
        }
        .flex_cont_3_clumn {
            justify-content: center;
            text-align: center;
        }
        .flex_cont_4_inner {
            width: 35%;
        }
        .flex_cont_2_clumn {
            display: flex;
            justify-content: center;
        }
        .flex_cont_2_clumn_container div {
            height: 14.5%;
        }
        .delete_money {
            &::before,
            &::after {
                width: 66px;
                bottom: 9px;
            }
        }
    }
    
    @media only screen and (max-width: 700px) {
        .slider_parent_inner {
            flex-direction: column;
            align-items: center;
            width: 75%;
        }
        .slider_text_redact {
            width: auto;
        }
        .slider__control {
            top: 56.5%;
        }
    }
    
    @media only screen and (max-width: 600px) {
        h4 {
            font-size: 17px !important;
        }
        p {
            font-size: 13px !important;
        }
        span {
            font-size: 13px !important;
        }
        a {
            font-size: 13px !important;
        }
        .slider__control {
            top: 55.5%;
        }
        .img_top {
            width: 100%;
        }
        .text_redact_panel>div>.button_top {
            padding: 8px 40px;
        }
        .footer_container {
            width: 100%;
            padding-bottom: 100px;
            display: flex;
            justify-content: center;
        }
        .footer_container_1_inner {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .footer_container_2_inner {
            width: 70%;
        }
        footer {
            padding: 10px 10px;
        }
        .footer_container_1_inner div {
            width: 33%;
            margin-top: 15px;
            margin-bottom: 10px;
            padding-bottom: 15px;
            text-align: center;
        }
        .footer_container_ul .li_control {
            justify-content: center;
        }
        .flex_cont_3_clumn>div:nth-child(1) {
            height: 70px;
        }
        .flex_cont_3_clumn>div {
            width: 90%;
            margin: 15px 0;
            img {
                width: 45px;
            }
        }
        .text_title {
            margin: 30px 0;
        }
        .flex_cont_4_inner {
            width: 43%;
        }
        .text_title_and_button {
            margin-top: 10px;
            margin-bottom: 30px
        }
        .slider_title {
            height: 100px;
        }
        .slider {
            padding-bottom: 20px;
            height: auto;
        }
        .text_title_and_button>a {
            padding: 8px 40px;
        }
        .input_button_redact {
            input {
                padding: 8px 40px;
            }
            button {
                padding: 8px 40px;
                font-size: 16px;
            }
        }
        .flex_cont_4_cards_text {
            height: 45px;
        }
        .text_redact_panel>div>p {
            margin-top: 10px;
        }
        .delete_money {
            &::before,
            &::after {
                width: 57px;
                bottom: 7px;
            }
        }
    }
    
    @media only screen and (max-width: 380px) {
        .slider_text_redact {
            margin: 0px 40px;
        }
    }